.group 			  { 
  position:relative; 
  margin-bottom: 35px; 
  margin-left: 40px;
}
.inputMaterial{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
}
.inputMaterial:focus{ outline:none;}
label{
  color:#999; 
  font-size:14px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
.inputMaterial:focus ~ label, .inputMaterial:valid ~ label 		{
  top:-15px;
  font-size:14px;
  color: #009688;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:315px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background: #009688; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  transform: translateX(-50%);
  left:50%;
  z-index: 2;
}
.bar:after {  
  background: #000; 
  left: 0;
  right: 0;
  width: inherit;
  z-index: 1;
}

/* active state */
.inputMaterial:focus ~ .bar:before, .inputMaterial:valid ~ .bar:before{
  width:100%;
}


/* active state */
.inputMaterial:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
.box button{
	background: #cfd8dc;
	border:0;
	color: #009688;
	padding:10px;
	font-size: 16px;
  	font-weight: 300;
	width:315px;
	margin-left: 40px;
	display:block;
	cursor:pointer;
    -webkit-transition: all 0.4s;
	transition: all 0.4s;
	border-radius: 2px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.box button:active{
	background: #009688;
  color: #263238;
}

.box button:hover{
		background: #009688;
  color: #FFF;
    -webkit-transition: all 0.4s;
	transition: all 0.4s;
}